<h1>Hero list!</h1>

#if ($heroes)
<ul>
    #foreach ($hero in $heroes)
    <li>
        <p>Name: $hero.getName()<p>
        <p>Age: $hero.getAge()</p>
        <p>Special power: $hero.getSpecialPower()</p>
        <p>Weakness: $hero.getWeakness()</p>
        <p>Gender: $hero.getGender()</p>
    </li>
    #end
</ul>
#else
<p>No Heroes!</p>
#end