<div class="well">
<h1>Name: $hero.getName()</h1>
<p>Age: $hero.getAge()</p>
<p>Special Power: $hero.getSpecialPower()</p>
<p>Weakness: $hero.getWeakness()</p>
<p>Gender: $task.getGender()</p>


<a href="/heroes/new">Add another hero</a>
<a href="/heroes">All heroes</a>
</div>