<div class = "well">

<h1>Hero Squad!</h1>
<p>Assemble your team and save the universe</p>

<p>Eeach team should have a maximum of 4 superheroes</p>
<p>The fate of the universe lies in your hands. Choose wisely!!</p>


<a href="/squads/new">Create Your Squad</a>
<a href="/squads">View Squads</a>
</div>


