<div class="well">
<h1>All Squads</h1>
<ul>
    #foreach ($squad in $squads)
    <li><a href="/squads/$squad.getId()">$squad.getName()</a></li>
    #end
</ul>
<a href="/squads/new">Add New Squad</a>
</div>