<div class = "well">
<h1>Add a Squad</h1>

<form action="/squads" method="post">

    <select id="name" name="name" >
        <option value="Conquerors">Conquerors</option>
        <option value="Defenders">Defenders</option>
        <option value="Avengers">Avengers</option>
    </select>
    <button type="submit" class="btn btn-success">Add Squad</button>
</form>
</div>
